/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 4, 2013, 1:55:09 PM
    Author     : dilssam
*/

#footer{
    width: 100%;
    max-width: 960px;
    //height: 100px;
    position: absolute;
    bottom: 0;
    margin:auto;
}

#footer .topfooter{
    size: 14px;
    color: #118db0;
    //border-top: 2px solid #ccc;
    font-weight: bold;
    padding: 40px 30px;
    position: relative;
    right: 0px;
    background: url(../images/zlm/slogan_bol.png) center right no-repeat;
}

#footer .bottomfooter{
    //background: #118db0;
    height: 308px;
    text-align: left;
    size: 11px;
    color: white;
}
#footer .bottomfooter .toppadding{
    padding-top: 40px;
}

#footer .bottomfooter .footerwrapper{
    height: 100%;
}


#footer .bottomfooter .footerleft,#footer .bottomfooter .footercenter{
    width: 30%;
    display: inline-block;
    position: relative;
    top:0px;
    height: 100%;
    vertical-align: top;
    
}

#footer .bottomfooter .footerright{
    display: inline-block;
    position: absolute;
    text-align: right;
    vertical-align: bottom;
    right: 0px;
}

#footer .footersocial , #footer .adviseurszoeken{
    vertical-align: bottom;
}

#footer .bottomallign{
    position: absolute;
    display: inline-block;
    bottom: 0;
    padding-bottom: 40px;
}

#footer .topallign{
    vertical-align: top;
}