@import "mixins";

/* ---------- Column widths ---------- */

.portlet-column-content.empty {
	padding: 50px;
}

/* ---------- Wrapper ---------- */

.centerwrapper{
    margin: auto;
    min-height: 100%;
    width: 100%;
    max-width: 960px;
}
    
#wrapper {
    padding: 0;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-bottom: 410px;
    
	@include respond-to(phone) {
		padding-left: 0.5em;
		padding-right: 0.5em;
                width: 100%;
	}

	@include respond-to(tablet) {
		padding-left: 2em;
		padding-right: 2em;
                width: 100%;
	}
}