/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 3, 2013, 9:50:13 AM
    Author     : dilssam
*/

#navigation{
    color:#333;
    //border: 1px solid #ccc;
    z-index: 500;
}

#navigation .navbar-inner{
    background: none;
    padding-left: 0px;
    height: 60px;
}

#navigation .navbar-inner ul{
    border: 1px solid #ccc;
    border-bottom: 0px;
    border-top: 0px;
    height: 100%;
}

#navigation .navbar-inner li{
    border: 1px solid #ccc;
    border-bottom: 0px;
    border-top: 0px;
    height: 100%;
    cursor: pointer;
    z-index: 510;
}

#navigation .navbar-inner li a{
    text-transform: uppercase;
    padding-top: 1.5em;
}

#navigation .navbar-inner li:hover,#navigation .navbar-inner li.active{
    box-shadow: 0px 4px 0px 1px #118db0,0px 0px 0px 1px #118db0;
    border-color: #118db0;
    color: #118db0;
    z-index: 511;
}

#navigation .navbar-inner li{
    cursor: pointer;
}

#heading{
    margin-bottom: 26px;
}   